[submodule "carvel-tools"]
	path = pkg/carvel-tools
	url = ssh://aur@aur.archlinux.org/carvel-tools.git
    branch = master
[submodule "docoseco"]
	path = pkg/docoseco
	url = ssh://aur@aur.archlinux.org/docoseco.git
    branch = master
[submodule "kubectl-gke-rapid-bin"]
	path = pkg/kubectl-gke-rapid-bin
	url = ssh://aur@aur.archlinux.org/kubectl-gke-rapid-bin.git
    branch = master
[submodule "kubectl-gke-regular-bin"]
	path = pkg/kubectl-gke-regular-bin
	url = ssh://aur@aur.archlinux.org/kubectl-gke-regular-bin.git
    branch = master
[submodule "kubectl-gke-stable-bin"]
	path = pkg/kubectl-gke-stable-bin
	url = ssh://aur@aur.archlinux.org/kubectl-gke-stable-bin.git
    branch = master
[submodule "rustotpony"]
	path = pkg/rustotpony
	url = ssh://aur@aur.archlinux.org/rustotpony.git
    branch = master
[submodule "rustotpony-bin"]
	path = pkg/rustotpony-bin
	url = ssh://aur@aur.archlinux.org/rustotpony-bin.git
    branch = master
[submodule "xkb-switch-i3"]
	path = pkg/xkb-switch-i3
	url = ssh://aur@aur.archlinux.org/xkb-switch-i3.git
    branch = master
[submodule "xkb-switch-i3-git"]
	path = pkg/xkb-switch-i3-git
	url = ssh://aur@aur.archlinux.org/xkb-switch-i3-git.git
    branch = master
[submodule "pkg/cloudflare-dynamic-dns"]
	path = pkg/cloudflare-dynamic-dns
	url = ssh://aur@aur.archlinux.org/cloudflare-dynamic-dns.git
[submodule "pkg/myks-bin"]
	path = pkg/myks-bin
	url = ssh://aur@aur.archlinux.org/myks-bin.git
